<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../assets/Imagenes/IconoLogo2.png" alt="" width="70px" height="auto"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
          <li class="nav-item">
            <i class="fa-regular fa-user"></i>
            @if(!auth){
              <a [routerLink]="['/login/']">Iniciar Sesión</a>
            }@else{
              <a  (click)="endsession()">{{ nombre }}</a>
            }
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenedor para el texto, input y botón -->
  <div class="header-content">
    <h3 class="header-title">¿Qué se te antoja el día de hoy?</h3>
    
    <div class="header-form">
<div class="search">
    <input type="text" class="search__input" placeholder="Buscar">
    <button class="search__button">
        <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
            <g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
            </g>
        </svg>
    </button>
</div>
    </div>
  </div>
</header>



<body>
  <div class="tarjetasmuestra">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/Imagenes/comida1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Desayunos del día</h3>
            <p class="card-text">Recarga tus energías con nuestro desayuno lleno de nutrientes. ¡Comienza tu día con el pie derecho!</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/Imagenes/cafeteria4.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Las mejor del campus</h3>
            <p class="card-text">Descubre tu potencial en el mejor ambiente: ¡Nuestro campus!</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/Imagenes/comida5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">El favorito de todos</h3>
            <p class="card-text">Amigos, comida y buenos momentos. ¡Compartamos lo que más nos gusta!</p>
          </div>
        </div>
  </div>


  <div class="muestracar">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-overlay">
            <img src="../../assets/Imagenes/university.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>Te espera mucho en la Universidad</h3>
              <p>Descubre el gran catálogo de locales con las que cuenta nuestro campus</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay">
            <img src="../../assets/Imagenes/lee-myungseong-y1XXWct5rBo-unsplash.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>Conoce el gran catálogo que manejamos</h3>
              <p>Tenemos un amplio catálogo para distintos gustos</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay">
            <img src="../../assets/Imagenes/simon-kadula--gkndM1GvSA-unsplash.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>¡No te tardes!</h3>
              <p>Compra, Paga y Come con un tiempo record</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="informacion">
    <div class="card mb-3 cardleft" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/Imagenes/equipo desarrollo.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sobre el Equipo</h5>
            <p class="card-text">Un grupo de estudiantes apasionados por la tecnología, dedicados a resolver problemas reales a través de la innovación y el desarrollo de software.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 cardright" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/Imagenes/pagoqr.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">¿De dónde nace la idea?</h5>
            <p class="card-text">La aplicación permitirá a los usuarios comparar los diferentes platos, precios y horarios de servicio, ayudándoles a tomar decisiones informadas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  <app-footerbajo></app-footerbajo>
</footer>
