.body, .titulo, .titulo p{
    display: flex;
    justify-content: center;
    align-items: start;
}
p, .recodigo{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.body{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.enespera{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; 
    row-gap: 15px;
    column-gap: 15px;
}
.pasados{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; 
    row-gap: 15px;
    column-gap: 15px; 
    width: 100%;
    margin-top: 50px;
}

.tarjeta{
    width: 320px;
    height: 350px;
    position: relative;
    background-color: white;
    border: 4px solid black;
    border-radius: 40px;
}

.tarjetaG{
    height: 400px;
}

@media (max-width: 900px) {
    .enespera{        
        margin-bottom: 80px;
    }
    .titulo{
        width: 100%;
        margin: 0px;
        margin-bottom: 0px;
    }
}

.titulo{
    width: 100%;
    height: 100px;
    background-color:  #FF4362;
    margin-bottom: 50px;
}

.titulo p{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: auto auto;
}

.imgcomida{
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    position: absolute;
    /* background-color: lawngreen; */
}
.imgcomida img, .imgcafeteria img{
    width: 100%;
    height: auto;
}
.imgcafeteria{
    bottom: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    position: absolute;
    /* background-color: lawngreen; */
}

.comida{
    top: 20px;
    left: 140px;
    width: 160px;
    height: 60px;
    position: absolute;
    /* background-color: lawngreen; */
    text-align: center;
}
.comida p{
    width: 100%;
    height: 100%;
    color: #FF4362;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.orden{
     top: 69px;
    left: 140px;
    width: 160px;
    height: 30px;
    font-weight: bold;
    position: absolute;
    /* background-color: lawngreen; */
}

.precio{
    top: 90px;
    left: 140px;
    width: 160px;
    height: 30px;
    position: absolute;
    /* background-color: lawngreen; */
}

.espera{
    top: 130px;
    left: 140px;
    width: 160px;
    height: 30px;
    position: absolute;
    /* background-color: lawngreen; */
}
.fecha{
    top: 135px;
    left: 20px;
    width: 110px;
    height: 30px;
    position: absolute;
    /* background-color: lawngreen; */
}
.recogido1{
    top: 175px;
    left: 20px;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: #FF4362;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.recogido1 p, .cancelado1 p{
    margin: auto auto;
    color: white;
}

.recogido1:hover, .cancelado1:hover{
    background-color: black;
}

.cancelado1{
    top: 215px;
    left: 20px;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(162, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.recogido{
    top: 175px;
    left: 20px;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: #FF4362;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recogido p{
    margin: auto auto;
    color: white;
}

.norecogido{
    top: 175px;
    left: 20px;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.norecogido p, .cancelado p{
    margin: auto auto;
    padding: auto auto;
    color: white;
}

.cancelado{
    top: 175px;
    left: 20px;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(162, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}




.cafeteria{
    bottom: 100px;
    right: 10px;
    width: 160px;
    height: 30px;
    position: absolute;
    /* background-color: lawngreen; */
}
.sucursal{
    bottom: 55px;
    right: 10px;
    width: 160px;
    height: 43px;
    position: absolute;
    /* background-color: lawngreen; */
}
.sucursal p{
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color: aquamarine; */
}

.nombre{
    bottom: 70px;
    right: 10px;
    width: 160px;
    height: 30px;
    position: absolute;
    /* background-color: lawngreen; */
}
.tipo{
    bottom: 20px;
    right: 10px;
    width: 160px;
    height: 30px;
    position: absolute;
    /* background-color: black; */
    border-radius: 10px;
    border: 1px solid black;
}

.tipo p{
    color: black;
}

.otratarjeta{
    width: 320px;
    height: 100px;
    position: relative;
    background-color: white;
    border: 4px solid black;
    border-radius: 40px;
}
.nohay{
    top: 5px;
    left: 10px;
    width: 290px;
    height: 80px;
    position: absolute;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nohay p{
    margin: auto auto;
    font-size: 19px;
}

