.map-container {
    width: 100%;
    height: 100vh; /* Toma toda la altura de la ventana */
    position: absolute; /* El mapa se posiciona de manera absoluta en toda la pantalla */
    top: 0;
    left: 0;
}
