*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li, option{
    letter-spacing: 2px;
    font-size: 17px;
}

.division, .titulo, .info1, .precio, .subdivision, .ingre, .ingre p, .tiempovalue, .preciovalue, .boton, .necesario,
.input, .select{
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}


.division, .subdivision{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.division{
    margin-bottom: 50px;
}

.subdivision{
    justify-content: space-evenly;
    column-gap: 20px;
    padding-top: 50px;
    /* background-color: aquamarine; */
}

.titulo{
    width: 100%;
    height: 120px;
    background-color: #fd4263;
    margin-bottom: 30px;
}

.subtitulo{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: auto auto 15px;
}

.titulo p{
    color: white;
    text-align: center;
    font-size: 35px;
    margin: auto auto;
}

.info{
    width: 60%;
    padding: 20px;
}

.info ul{
    margin-left: 30px;
    margin-right: 20px;
}

.info1{
    width: 30%;
}

.info, .info1{
    height: 280px;
    border-radius: 50px;
    color: white;
    background-color: #fd4263;
    position: relative;
}

.ingre{
    position: absolute;
    top: 80px;
    right: 7%;
    /* background-color: aqua; */
    width: 85%;
    height: 130px;
    column-gap: 2%;
    flex-wrap: wrap;
}

.ingre p{
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: black;
}


.preciovalue{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 25%;
    background-color: white;
    border-radius: 20px;
}
.tiempovalue{
    position: absolute;
    bottom: 15%;
    left: 20%;
    width: 60%;
    height: 25%;
    background-color: white;
    border-radius: 20px;
}

.preciovalue p, .tiempovalue p{
    color: black;
}

.cafeteria{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    border: 10px solid #fd4263; 
}
.negro{
    margin-top: 10px;
    color: black; 
    width: 100%;
    text-align: center;
}
.necesario{
    width: 40%;
    height: 180px;
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
    flex-wrap: wrap;
}

.input{
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: start;
}
.sub{
    width: 50%;
    height: 100px;
    /* background-color: aqua; */
}
.sub input{
    width: 16px;
    height: 16px;
    border: 2px solid #fd4263;
}
.sub label{
    margin-left: 10px;
}
.input{
    margin: 7px; 
}
.boton{
    width: 100%;
    background-color: white;
    height: 100px;
}

.boton button{
    height: 60px;
    width: 230px;
    border-radius: 20px;
    color: white;
    background-color: #fd4263;
    border: none;
}

.boton button:hover{
    background-color: black;
    border: none;
}

select{
    background-color: #fd4263;
    margin: 0px auto;
    color: white;
    border-radius: 20px;
    height: 40px;   
    border:none; 
    text-align: center;
    margin: 10px;
    width: 230px;
}


@media (max-width: 750px) {
    .info{
        width: 90%;
    }
    
    .info1{
        margin-top: 30px;
        width: 90%;
    }

}