<div class="division">
    <div class="titulo">
        <p>{{ comida.Nombre }}</p>
    </div>
    <div class="subdivision">
        <div class="info">
            <p class="subtitulo">Ingredientes</p>
            <div class="ingre">
                @for(ingre of informacion.Ingredientes; track ingre){
                    <p class="negro">{{ingre}}</p>
                }
            </div>
        </div>
        <div class="info1">
            <div class="preciovalue">
                <p class="negro">Precio: ${{comida.Precio}}</p>
            </div>
            <div class="tiempovalue">
                <p class="negro">Preparación: {{comida.TiempoPrepa}} min</p>
            </div>
        </div>
        <div class="cafeteria">
            <p class="subtitulo negro">Cafetería</p>
            <p class="negro"> {{informacion.NombreCafeteria}} </p>
            <div class="select">
                <select name="sucursales" id="sucursales" [(ngModel)]="sucursal">
                @for(sucu of Sucursales; track sucu){
                    <option value="{{sucu.Id_Sucursal}}">{{sucu.NombreSucursal}}</option>
                }
                </select>
            </div>
            @for(sucu of Sucursales; track sucu){
                @if(sucu.Id_Sucursal === parseInt(sucursal)){
                    <p class="negro">Edificio {{sucu.Edificio}}, Local {{sucu.Numero_Local}}</p>
                    <p class="negro">{{sucu.Horario}}</p>  
                }
            }
        </div>
        <div class="necesario">
            <p class="negro">Tipo de pago</p>
            <div class="sub">
                <div class="input">
                    <input type="radio" value="Efectivo" name="tipoP" id="efectivo" (change)="SetTipoPago('E')" checked>    
                    <label for="efectivo">Efectivo</label>            
                </div>
                <div class="input">
                    <input type="radio" value="Tarjeta" name="tipoP" id="tarjeta" (change)="SetTipoPago('T')">
                    <label for="tarjeta">Tarjeta</label>            
                </div>
            </div>
        </div>
        <div class="message">
            <p>{{message}}</p>
        </div>
        @if(auth){
            <div class="boton">
                <button (click)="pedir()">Pedir</button>
            </div>
        }
    </div>
</div>

<footer>
    <app-footerbajo></app-footerbajo>
</footer>
