/* Menú flotante en la parte inferior central */
#navbody {
    width: auto; /* El ancho se ajusta automáticamente según el contenido */
    min-width: 300px; /* Ancho mínimo para que el contenedor tenga espacio suficiente */
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado de los iconos */
    position: fixed;
    bottom: 20px;
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Compensa el 50% de su propio ancho para centrarlo */
    z-index: 10;
    padding: 0; /* Eliminar cualquier padding en el contenedor */
    margin: 0; /* Eliminar cualquier margen en el contenedor */
  }
  
  .ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Aumenta el espacio entre los iconos */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
    width: 100%; /* El contenedor ocupa todo el ancho disponible */
    gap: 20px; /* Aumentar espacio entre los iconos */
  }
  
  .ul .li {
    display: inline-block;
    margin: 0; /* Eliminar márgenes en los elementos de lista */
  }
  
  .radio {
    display: none;
  }
  
  .svg {
    width: 50px; /* Tamaño de los iconos */
    height: 50px; /* Tamaño de los iconos */
    opacity: 80%;
    cursor: pointer;
    padding: 7px; /* Agregar un poco de padding para mejorar la apariencia */
    transition: 0.2s;
  }
  
  .ul .li .svg:hover {
    transition: 0.1s;
    color: #ff657f;
    position: relative;
    margin-top: -4px;
    opacity: 100%;
  }
  
  .radio:checked + label .li .svg {
    color: #ff657f;
    fill-rule: evenodd;
  }
  
  .centrado {
    display: grid;
    justify-content: center;
    position: absolute;
    margin: 0;
  }
  