/* Menú flotante en la parte inferior central */
#navbody {
  width: 300px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 50%; /* Centra el menú en el eje horizontal */
  transform: translateX(-50%); /* Compensa el 50% de su propio ancho para centrarlo */
  z-index: 10; /* Asegura que el menú esté encima del mapa */
}

.ul {
  list-style: none;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.ul .li {
  display: inline-block;
}

.radio {
  display: none;
}

.svg {
  width: 70px;
  height: 70px;
  opacity: 80%;
  cursor: pointer;
  padding: 13px 20px;
  transition: 0.2s;
}

.ul .li .svg:hover {
  transition: 0.1s;
  color: #ff657f;
  position: relative;
  margin-top: -4px;
  opacity: 100%;
}

.radio:checked + label .li .svg {
  color: #ff657f;
  fill-rule: evenodd;
}

.centrado {
  display: grid;
  justify-content: center;
  position: absolute;
  margin: 40px;
}


