/* Ocultar ambas pantallas por defecto */
:host ::ng-deep app-pantallacarga,
:host ::ng-deep app-pantallainicio {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Mostrar pantalla activa con transición */
:host ::ng-deep div[ngIf] {
  opacity: 1;
}
